/* AnimatedSection.css */

.section-container {
  width: 100%;
  max-width: 1400px;
  min-height: 70vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5%;
  gap: 60px;
  
  /* Animacijski dio */
  opacity: 0;
  will-change: transform, opacity;
  transform: translate3d(0, 50px, 0);
  transition: opacity 1s ease-out, transform 1.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.section-container.visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* Mobitel responzivnost za container */
@media (max-width: 768px) {
  .section-container {
    flex-direction: column !important;
    text-align: center;
    min-height: auto;
    padding: 100px 20px;
  }
}