.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2%;
  background-color: var(--bg-navbar); 
  border-bottom: 1px solid var(--text-secondary);
  width: 100%;
}

.theme-switch {
  cursor: pointer;
  background: none;
  border: 1px solid var(--text-secondary);
  color: var(--text-primary);
  padding: 5px 15px;
  border-radius: 20px;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}

.login-link {
  color: var(--text-primary);
  text-decoration: none;
  align-self: center;
}

.register-btn {
  background-color: var(--accent-color);
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  text-decoration: none;
}