.dinner-card {
   
    width: 90%; 
    max-width: 280px;
    height: 100%;
    
 
    background-color: var(--bg-main-contrast); 
    color: var(--text-primary-contrast);
    
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
 
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    

    border: 1px solid var(--text-primary-contrast);
    
    cursor: pointer;

   transition: box-shadow 0.4s ease, background-color 0.4s ease, border-color 0.4s ease, transform 0.4s ease;
}

.card-image-placeholder {
    width: 100%;
    height: 60%;
   
    background-color: var(--text-primary-contrast); 
    opacity: 0.1; 
}

.card-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    justify-content: center;
    height: 40%;
}


.dinner-card h2 {
    color: var(--text-primary-contrast); 
    margin: 0;
    font-size: var(--fs-h2);
    font-weight: var(--fw-h2);
}

.dinner-card p {
    
    color: var(--text-primary-contrast);
    opacity: 0.7; 
    margin: 0;
    font-size: var(--fs-body);
}


.dinner-card:hover {
    border-color: var(--accent-color);
    box-shadow: 0 15px 50px rgba(0,0,0,0.3);
    transform: translateY(-10px); 
}