

.footer-image-section {
  width: 100%;
  height: 600px; 
  background-image: var(--footer-img);
  background-size: auto; 
  background-repeat: repeat-x; 
  background-position: center;
  transition: background-image 0.3s ease;
}

/* Footer.css */
.footer-container {
  width: 100%;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  
  /* DEFAULT: Ako je stranica Light, Footer će biti Dark */
  background-color: #121212; /* Fiksna tamna za light temu */
  color: #f5f5f5;
}

/* Ako je stranica u Dark modu, Footer neka bude Light */
[data-theme='dark'] .footer-container {
  background-color: #ffffff; /* Fiksna svijetla za dark temu */
  color: #1a1a1a;
}

.footer-content {
  padding-top: 5%;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  text-decoration: none;
  color: inherit; /* Nasljeđuje boju od footera */
  font-size: var(--fs-small);
  opacity: 0.8;
  transition: opacity 0.2s;
}

.footer-links a:hover {
  opacity: 1;
}

.footer-bottom {
  font-size: 0.8rem;
  opacity: 0.6;
  border-top: 2px solid rgba(128, 128, 128, 0.2);
  width: 90%;
  padding-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}