
.rotator-wrapper {
    width: 100%;
    padding: 2rem 0;
    position: relative;

    overflow-x: hidden; 
    display: flex;
    justify-content: center;
}


.swiper_container {
    height: 420px;
    width: 90%; 
    padding-bottom: 3rem;
    position: relative;
    
    overflow: visible !important; 
}


.swiper-slide {
    height: 350px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.swiper-slide-active {
    z-index: 10;
    transform: scale(1.1); 
}


.swiper-slide-prev,
.swiper-slide-next {
    opacity: 0.7; 
    z-index: 5;
}

.swiper-grabbing {
    cursor: grabbing !important;
}


.swiper-grabbing .dinner-card {
    
    pointer-events: none; 
    
   
}

.swiper-grabbing .swiper-slide {
    cursor: grabbing !important;
}

.rotator-empty {
    text-align: center;
    color: var(--text-secondary);
    padding: 2rem;
    font-style: italic;
}