

:root {
  /* LIGHT TEMA */
  --bg-main: #ffffff;
  --bg-main-contrast: #121212;
  --bg-card: #f9f9f9;
  --text-primary: #1a1a1a;
  --text-primary-contrast: #f5f5f5;
  --text-secondary: #4a4a4a;
  --accent-color: #ff5733;
  --text-navbar: #1a1a1a;

  /* TIPOGRAFIJA - Tvoja 4 standardizirana tipa */
  --fs-h1: 2.5rem;    --fw-h1: 800;
  --fs-h2: 1.75rem;   --fw-h2: 700;
  --fs-body: 1rem;    --fw-body: 400;
  --fs-small: 0.85rem; --fw-small: 300;

  --footer-img: url('/images/footer-light.svg');
}

[data-theme='dark'] {
  /* DARK TEMA */
  --bg-main: #121212;
  --bg-main-contrast: #ffffff;
  --bg-card: #1e1e1e;
  --text-primary: #f5f5f5;
  --text-primary-contrast: #1a1a1a;
  --text-secondary: #b0b0b0;
  --accent-color: #ff7e67;
  --bg-navbar: #181818;

  --footer-img: url('/images/footer-dark.svg');
}

/* GLOBALNI STILOVI I PRIJELAZ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out, border-color 0.7s ease-in-out;
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  margin: 0;
  font-family: sans-serif;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Standardizacija teksta kroz klase */
h1 { font-size: var(--fs-h1); font-weight: var(--fw-h1); margin-bottom: 1rem; }
h2 { font-size: var(--fs-h2); font-weight: var(--fw-h2); }
p { font-size: var(--fs-body); font-weight: var(--fw-body); line-height: 1.6; }
.text-small { font-size: var(--fs-small); font-weight: var(--fw-small); color: var(--text-secondary); }

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

